{% extends "parts/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/modalAndCards.css">
    <script src="/scripts/scriptsModal.js" defer></script>
{% endblock head %}

{% block modal %}
 <div class="modal">
        <div class="modal-content">
            <div class="card-modal">
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <div class="close-modal">
                    <p>Fechar Modal</p>
                </div>
            </div>        
        </div>
    </div>
{% endblock modal %}

{% block content %}
    <section class="homepage">
        <div class="info-container">    
            <div class="info-text">
                <h2>   
                    As melhores receitas
                </h2>
                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            <div class="info-image">
                <img src="assets/chef.png" alt="Chef FoodFy">
            </div>
        </div>
    </section>
    <article>
        <h2>Mais Acessadas</h2>
        <div class="cards-container">
            {% for recipe in recipes %}
                <div class="card">
                    <img id="{{recipe.file}}" src="{{recipe.file}}" alt="Imagem de {{recipe.title}}">
                    <h4>{{recipe.title}}</h4>
                    <p>por {{recipe.chef_name}}</p>
                </div>
            {% endfor %}
        </div>
    </article>

   
{% endblock content %}