{% extends "parts/adminLayout.njk" %}

{% block content %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipes.css">
    <link rel="stylesheet" href="/styles/container.css">
    <script src="/scripts/scriptsAddItens.js" defer></script>
    <script src="/scripts/ScriptsImages.js" defer></script>
{% endblock head %}

    <section class="form-group recipes">
        <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
            
            <header class="form-header">
                <h2>Criando Receita</h2>
                <button class="button" type="submit">Salvar Receita</button>
            </header>

            {% include "recipes/fields.njk" %}

        </form>
    </section>

{% endblock content %}