/* === HEADER === */

.recipes-section h2 {
    margin-bottom: 2rem;
}

header .nav-container {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
}

.nav-text-container {
    display: flex;
}

.nav-text-container a:nth-child(2) {
    margin-left: 1.8rem;
}

.nav-text-container a {
    text-decoration: none;
    font-size: 1rem;
    color: #111111;
}

/* === SECTION === */

section.homepage {
    /*max-width: 60vw;*/
    background: #FBDFDB;
    border-radius: 2rem;
}

section.homepage .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-container .info-text {
    padding: 26% 14%;
}

.info-text h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #111111;
    padding-bottom: 10px;
}

.info-text p {
    opacity: 0.7;
    font-size: 1.1rem;
    color: #000000;
    line-height: 1.75rem;
}

.info-image {
    position: relative;
}

.info-image img {
    bottom: 0;
    right: 6.25rem;
    position: absolute;
}

/* === ARTICLE === */

article h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #111111;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}

article .cards-container {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

/* ============= ABOUT  =============*/

/* === ARTICLE === */

article .about-foodfy h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #111111;

    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
}

article .about-foodfy p {
    font-size: 1.1rem;
    color: #444444;
    line-height: 1.65rem;
    margin-block-end: 2.1rem;
}

/* ============= CREATE  =============*/

/* === FORM === */

form .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

button.button,
a.button {
    background: #6558C3;
    border-radius: 4px;

    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
    padding: .6rem 1rem;
    cursor: pointer;
    text-decoration: none;
}

form .item {
    margin-bottom: 2rem;
}

form .item h2 {
    font-weight: bold;
    font-size: 1rem;
    color: #111111;
    margin-bottom: .6rem;
    
}

form .item input,
form .item textarea {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 0.9rem;
    outline: none;
}

form .item textarea {
    resize: none;
    font-size: 1rem;
}

form .item button {
    display: block;
    margin-top: 1rem;

    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: #6558C3;
    background: none;
    cursor: pointer;
    outline: none;
}

form .item .preparation,
form .item .ingredient {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

form .item .fa.fa-close {
    font-size: 1.5rem;
    color: red;
    margin-left: 1rem;
    cursor: pointer;
}