/* ============= INDEX  =============*/

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.cards-container .recipe-card { 
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1.2rem;
}

.card-image-container img {
    width: 100%;
    height: 5rem;
    border-radius: 8px;
    cursor: pointer;
}

.card.recipe-card .card-image-container img {
    transition: transform .2s;
    cursor: pointer;
    width: 100%;
    height: 5rem;
    border-radius: .5rem;
    object-fit: fill;
}

.card.recipe-card .card-image-container img:hover {
    transform: scale(1.05);
}

.card.recipe-card .card-text-container h4 {
    padding-top: 0;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
    color: var(--black-color);
}

/* ============= CREATE  =============*/

form .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


form .item textarea {
    resize: none;
    font-size: 1rem;
}

form .item .preparation,
form .item .ingredient {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

form .item .fa.fa-close {
    font-size: 1.5rem;
    color: red;
    margin-left: 1rem;
    cursor: pointer;
}

/* ============= SHOW  =============*/

.preview-container .image-highlight img {
    width: 100%;
    height: 35vh;
    border-radius: 1rem;
    object-fit: cover;
    cursor: pointer;
}

.preview-container .image-gallery {
    display: flex;
    justify-content: flex-end;
}

.preview-container .image-gallery img {
    width: 3.125rem;
    height: 3.125rem;
    margin-left: .625rem;
    cursor: pointer;

    opacity: .4;
    transition: opacity .2s;
}

.preview-container .image-gallery img.active,
.preview-container .image-gallery img:hover {
    opacity: 1;
}

.preview-container .image-highlight .lightbox-container {
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);

    opacity: 1;
    transition: all .2s;
}

.preview-container .image-highlight .lightbox-container.active {
    top: 0;
}

.preview-container .image-highlight .lightbox-container img {
    position: absolute;
    width: 90%;
    height: 90%;
    background: white;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
}

.lightbox-container a.lightbox-close i {
    position: absolute;
    color: red;
    font-size: 1.7rem;
    right: 1.8rem;
    top: .3rem;
}

.ingredientsAndSteps {
    margin: 1.1rem 0 2.5rem;
}

.ingredientsAndSteps p {
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--paragraph-color);
    line-height: 1.8rem;
    white-space: pre-wrap;
}

p.footer-updated {
    font-weight: normal;
    font-size: .9rem;
    color: var(--paragraph-color);
    line-height: 1.8rem;
    text-align: center;
    margin: 5rem 0 1rem;
}

/* ============= IMAGE GALLERY =============*/

form .item.image .image-input {
    position: relative;
    border: 1px solid #DDDDDD;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

form .item.image input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* cursor pointer */
::-webkit-file-upload-button { 
    cursor:pointer; 
}

form .item.image i {
    font-size: 3rem;
    color: #777777;
}

.item.image .image-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: .50rem;
}

.item.image .image-gallery {
    display: flex;
    align-self: center;
}

.item.image .image-gallery .photo {
    position: relative;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 .125rem;
}

.item.image .image-gallery .photo img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.item.image .image-gallery .photo i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background: rgba(255,255,255,.8);
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s;
}

.item.image .image-gallery .photo:hover i {
    opacity: 1
}